<!-- the provide method gives the string "help" as a variable back to the application.html.erb file; there it is defined what to do with that id -->
<% provide(:title, "The Team") %>
<h1>The Team</h1>
<p>
  People
</p>
